#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* ロード画面 */
.loading{
  position: absolute;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #eff0f4;
  transition: 2s;
}  


.drop{
  z-index: 10;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:50%;
  height:50%;
  /* width:350px;
  height:350px; */
  box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
  0px 35px 20px rgba(0,0,0,0.05),
  25px 0px 30px rgba(0,0,0,0.05),
  inset -20px -20px 25px rgba(255 ,255,255, 0.5);
  /* background-color: rgba(255,255,255,0.1); */
  border-radius:  46% 54% 53% 47% / 47% 47% 53% 53% ;
  animation:8.5s zoomout;
}
.drop::before{
  content: "";
  display: block;
  position: relative;
  top:25%;
  left:25%;
  width:10px;
  height:10px;
  background-color: rgba(255 ,255,255, 0.5);
  border-radius: 50%;
}
.drop::after{
  content:"";
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 5px;
  height:5px;
  background-color: rgba(0 , 0, 0, 0.1);
  border-radius:  46% 54% 53% 47% / 47% 47% 53% 53% ;
  animation:5.5s zoom;
}

@keyframes zoomout {
  0%{
    width:350px;
    height:350px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255 ,255,255, 0.5);
  }
  80%{
    width:200px;
    height:200px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255 ,255,255, 0.5);
  }
  100%{
    width: 30px;
    height:30px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.05),
    2.5px 3.5px 2.0px rgba(0,0,0,0.05),
    2.5px 3.0px 3.0px rgba(0,0,0,0.05),
    inset -2.0px -2.0px 2.5px rgba(255 ,255,255, 0.5);
  }
}
@keyframes zoom {
  from{
    width:5px;
    height:5px;
  }
to{
    width:30px;
    height:30px;
  }
}






/* コンテンツ全体 */
.container{
  color:yellow;
  overflow: hidden;
  position:relative;
  width: 100%;
  min-height: 100vh;
}

/* canvas */
#canvas{
  height: 100vh !important;
  width:100% !important;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* 全体で使用*/
body{
  --_font_sm:clamp(0.875rem,1vw + 0.5rem,1.0rem);
  --_font_md:clamp(1.25rem,1vw + 1.0rem,1.5rem);
  --_font_lg:clamp(1.5rem,1vw + 1.25rem,1.75rem);
  --_font_xl:clamp(2.0rem,1vw + 1.5rem,2.5rem);
  --_font_2xl:clamp(3.5rem,1vw + 3.0rem,4.0rem);

  --_padding_x:clamp(2rem,10vw,12.5rem);
  --_padding_y:clamp(1rem,5vh,8rem);

  --_text_shadow:1px 1px 5px #1f1f21;
}
.display{
  opacity: 1;
  z-index: 1;
}
.hidden{
  opacity:0;
  z-index: -1;
}
.hover{
  cursor: pointer;
}

/* ヘッダー */
#header{
  height:100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 40px;
  position: relative;
  top:-120px;
  transition: 5.0s;
}
#header h1{
  font-size: var(--_font_xl);
  font-weight: bold;
}
#header.down{
  top:0;
}
#header ul{
  margin:0;
  height: 100%;
  display: flex;
  align-items: end;
}
#header ul li{
  margin-left:32px;
  font-size:var(--_font_lg);
  font-weight: bold;
}


#main{
  opacity: 0;
  transition: 5.0s;
}
#main.down{
  opacity: 1;
}

.section{
  padding:var(--_padding_y) var(--_padding_x);
}
.section-title{
  font-size: var(--_font_2xl);
  margin-bottom:30px;
}

#description{
  height:calc(100vh - 100px);
}
.desc-text{
  text-shadow:var(--_text_shadow);
  font-size: var(--_font_2xl);
  color:white;
}
.desc-text span{
  font-size:var(--_font_xl)
}

#portfolios{
  height:100vh;
}
#portfolios ul{
  width:max-content;
  text-shadow:var(--_text_shadow);
  font-size: var(--_font_md);
}
.portfolio-title{
  margin-bottom:20px;
  cursor: pointer;
  color:yellowgreen;
}
.portfolio-title__current{
  color:yellow;
}

#skill{
  min-height:100vh;
}
.categories{
  display:flex;
  justify-content: space-between;
  gap:4rem;
  padding-top: 100px;
}
.category{
  padding:10px;
  border:solid 1px;
  color: white;
  background-color:rgba(0 , 0, 0, 0.6) ;
  width:100%;
}
.category:hover{
  background-color:rgba(0 , 0, 0, 0.8) ;
}
.category-title{
  font-size: var(--_font_xl);
  margin-bottom: 1rem;
}
.category p{
  font-size: var(--_font_md);
  padding:0.5rem 2rem;
}
@media screen and (max-width:1024px){
  .categories{
    flex-direction:column;
  }
}

  /* 詳細 */
  #detail{
    padding:0 clamp(2rem,10ch + 1rem,5rem);
    width:clamp(20rem,30%,100%);
    height:101vh;
    background-color: #1f1f21;
    opacity:0.0;
    transition: 1s;
    
    position:fixed;
    top:50%;
    right:-30%;
    transform:translate(0 , -50%);
  }
  #detail.open{
    opacity: 0.9;
    right:0;
  }
  .detail-button {
    position: relative;
    height :30px;
    width:100%;
    cursor: pointer;
    margin-top:30px
  }
  .detail-button span{
    position: absolute;
    display:block;
    background-color: white;
    width:30px;
    height:5px;
    transform:translate(0,-50%) rotate(45deg);
    top:50%;
    right:0;
  }
  .detail-button span:nth-child(2){
    transform:translate(0,-50%) rotate(-45deg);
  }
  .detail-content{
    margin-top:30px
  }
  .detail-content div{
    margin-bottom:30px
  }
  #detail h3{
    font-size: var(--_font_md);
    margin-bottom:0.25rem;
  }
  #detail a{
    margin-left:1rem;
    word-break: break-all; 
    overflow-wrap: break-word;
    display: inline-block; 
  }
  #detail p{
    color:white;
    font-size: var(--_font_sm);
    margin-left:1rem;
  }
  